body {
    margin-top: 40px;
    font-size: 14px;
    background-color: #f2ecd8;
}

h1, h2 {
    color: #f24949;
}

h1 {
    font-size: 4em;
}

h2 {
    font-weight: 800;
}

h3 {
    margin-top: 0;
    color: #f28a80;
}
    
article {
    float: left;
    margin-bottom: 10px;
}

article p:first-of-type {
    color: #c1d9c2;
}

em {
    color: #73bf94;
    font-style: normal;
    font-weight: 400;
}

img {
    float: left;
    margin: 0 1em 1em 0;
}
